In [27]:
USE [master]
ALTER DATABASE mydb SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
DROP DATABASE IF EXISTS mydb;

In [28]:
CREATE DATABASE mydb;

In [29]:
USE mydb;

In [30]:
CREATE TABLE customer(
    customer_id UNIQUEIDENTIFIER PRIMARY KEY DEFAULT(NEWID()),
    customer_name VARCHAR(255),
    customer_address VARCHAR(1000),
    customer_email VARCHAR(255),
    customer_mobile VARCHAR(255)
);

In [31]:
CREATE TABLE product(
    product_id UNIQUEIDENTIFIER PRIMARY KEY DEFAULT(NEWID()),
    product_name VARCHAR(255),
    unit_price DECIMAL
);

In [32]:
INSERT INTO customer(customer_name, customer_address, customer_email, customer_mobile)
VALUES(
    'Somsak',
    'Bangkok, Thailand',
    'somsak@example.com',
    '096-8695959'
),(
    'Somsri',
    'Chiangmai, Thailand',
    'somsri.com',
    '096-8639339'
)